name: CI
on:
  push:
    branches: ["main"]
jobs:
  publishing:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Extract metadata for building
        id: metadata
        uses: docker/metadata-action@v4
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          images: |
            ghcr.io/${{ github.repository }}
      - name: Build and push to registry
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: ${{ steps.metadata.outputs.tags }}
          labels: ${{ steps.metadata.outputs.labels }}
  deploying:
    needs: [publishing]
    runs-on: ubuntu-latest
    steps:
      - name: Pulling and rebuilding images on the host machine
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            docker stop practice-3
            docker rm practice-3
            docker pull ghcr.io/ukoricpaw/devops-practice-3:main
            docker run -d --name practice-3 -p 8080:8080 ghcr.io/ukoricpaw/devops-practice-3:main
            docker image prune
